*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: #f5eec2;
    background-color:#73a24e;
}
h1{
    text-align: center;
    font-weight: 600;
    margin: 1em;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
input::placeholder{
    color: #DCD9D4;
    font-size: 15px;
}

.registrationcontainer{
    font-weight: 700;
    justify-self: center;
    width:auto;
    height:auto;
    padding:1em;
    display:grid;
    grid-template-columns: 1fr;
    gap:1em;
    font-size: 20px;
    background-color:#416a59;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.registrationcontainer input{
    padding:0.5em;
    margin-top: 20px;
    text-align: center;
    outline:none;
    font-size: 20PX;
    font-weight: 400;
    background: #a9c25d;
    color: #f5eec2;
}

.submit, .clear{
    margin-top: 40px;
    border-radius: 20px;
    background-color: #39395f;
    width:50%;
    padding:0.5em;
    color: #fff;
    font-weight: 800;
}
.submit:hover, .clear:hover{
    background: transparent;
    cursor: pointer;
}
.output{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap:0.5em;
    justify-items: center;
    padding:0.5em;
    margin-top: 20px;
    text-align: center;
    outline:none;
    font-weight: 400;
    color: #f5eec2;
}
.addData{
    color: #f5eec2;
    width:auto;
    height:auto;
    padding:1em;
    font-size: 25px;
    background-color: #416a59;
}
.output .addData{

    text-align: right;
}
.output .addData img{
    width:150px;
    height:150px;
    
}
.Container1 h4{
    margin-bottom: 30px;
}
.Container1{
    display: flex;
    justify-content: start;
    color: #fff;
}
a{
    margin-bottom: 30px;
}
.link{
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: white;
}
/*Responsiveness*/
@media all and (max-width:900px){
    .output{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:0.5em;
        justify-items: center;
        
    }

}
@media all and (max-width:400px){
    .container{
        padding:0.4em;
    }
    .registrationcontainer{
        padding:0.5em;
    }
    .output{
        display:grid;
        grid-template-columns: 1fr;
        gap:0.5em;
        justify-items: center;
    }
}
